# NOTE run $(travis lint) after modyifing this file.

# Travis
# - build lifecycle: https://docs.travis-ci.com/user/job-lifecycle
# - config doc: https://config.travis-ci.com/
# - python defaults: https://docs.travis-ci.com/user/languages/python/

version: ~> 1.0
language: python
python:
  - "3.7"
  - "3.8"
  - "3.9"
cache: pip
before_install: pip install poetry
install: poetry install
script:
  - poetry run taiga-stats -v
  - poetry run taiga-stats -h
  - poetry run pylint taiga_stats/
  - poetry run black --check .
