[tool.poetry]
name = "taiga-stats"
version = "0.1.0"
description = "Generate statistics from Taiga and produce burnup diagrams, CFDs, dependency graphs and more."
authors = ["Erik Westrup <erik.westrup@gmail.com>"]
license = "BSD-3-Clause"
readme = "README.md"
homepage = "https://github.com/erikw/taiga-stats"
keywords = ["taiga", "generator", "stats", "cfd", "dependency graph"]
classifiers = [
    "Topic :: Utilities",
    "Topic :: Software Development"
]
include = [
	"CHANGELOG.md",
	"README.md",
	"img/",
	"sample_data/",
	]
exclude = ["README.md.in"]


[tool.poetry.dependencies]
matplotlib = "^2.1.0"
numpy = "^1.13.3"
python = "^3.7"
python-taiga = "^0.9.0"

[tool.poetry.dev-dependencies]
autoflake = "^1.4"
autoimport = "^0.7.5"
black = "^21.10b0"
flake8 = "^4.0.1"	# TODO replace with flakehell to be able to move .flake8 to this config file. Blocked by https://github.com/flakehell/flakehell/issues/18
ipdb = "^0.13.9"
isort = "^5.9.3"
pudb = "^2021.2.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
# By defining this, we can run
# $ poetry run taiga-stats
# instead of the longer
# $ poetry run python -m taiga_stats
# NOTE python modules should use underscores, python packages not (PEP8)...
taiga-stats = 'taiga_stats.__main__:main'

[tool.isort]
line_length = 160

[tool.black]
line_length = 160
